<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Marionette Contact Manager</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand">Contact manager</span>
                </div>
            </div>
        </div>
        <div id="app-container">
            <div id="main-region" class="container">
                <p>Main Region</p>
            </div>
            <div id="contact-region" class="container">
                <p>User Region</p>
            </div>
            <div id="secondary-region" class="container">
                <p>Secondary Region</p>
            </div>
        </div>

        <!-- Templates -->
        <script type="text/template" id="static-template">
            <p>This is text that was rendered by our Marionette app.</p>
        </script>

        <script type="text/template" id="different-static-template">
            <p>Text from a different template...</p>
        </script>

        <script type="text/template" id="contact-list-item">
            <li>
                <span><%- firstName %> <%- lastName %></span>
                <span id="phoneNumber"><%- phoneNumber %></span>
            </li>
        </script>

        <!-- Scripts -->
        <script src="bundle.js"></script>
    </body>
</html>